/* Todo */
*{
	margin: 0px;
	padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{

}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF8000;
    border-radius: 20px;
    border: 2px solid #FF8000 ;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
    background: #9e9e9e73;
}

/* Encabezado */
header#header {
	height: 80px;
	position: relative;
            display: flex;
             align-items: center;
        overflow: hidden;
}
.logo-header{
	height: 100%;
     		position: relative;

}
header#header > .logo-header > img {
    height: 50px;
    margin: 15px 0px 0px 41px;
}

.back-header {
	background: url('../img/header.svg');
	background-size: 100% 119%;
        background-position: 20px -6px;
        height: 82px;
        background-repeat: no-repeat;
        position: absolute;
        width: 600px;
        top: 0px;
        right: -3px;
}
/* Buscador */
section#searcher {
	height: calc(100vh - 80px);
	background: transparent linear-gradient(180deg, #2250F8 0%, #12297D 100%, #7F01D1 100%) 0% 0% no-repeat padding-box;
	width: 100%;
	position: relative;
    display: flex;
    align-items: center;
            overflow: hidden;
}

.letterhead {
    width: 70%;
    height: 45vh;
    margin: auto;
    color: #fff;
    display: inline-block;
}

.letterhead i {
        width: 2px!important;
        position: relative;
        height: 1.7rem;
        background: #FF8000;
        display: inline-block;
        margin: 0px;
        letter-spacing: inherit;
        top: 2px;
}

article.letterhead-h {
        display: block;
        width: 100%;
        height: 30%;
        text-align: center;
}

article.letterhead-h  > h1.title {
    text-align: center;
    font-size: 2.4rem;
        margin: auto;
        letter-spacing: -1px;

}

.title.montserrat.bold{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
}

.letterhead-h p {
        font-weight: 300;
               font-size: 1.17rem;
        letter-spacing: 0.2rem;
}


/* Buscador */
article.search {
    height: 60px;
    position: relative;
    width: 80%;
    max-width: 750px;
    margin: 4.5rem auto 0px;
}

.background-search {
        position: relative;
        height: 100%;
        background: #fff;
        display: flex;
        font-weight: bold!important;
                border-radius: 0px 10px 10px 0px;
}

.input-field.col {
        display: flex;
        align-items: center;
}

input {
        border: none!important;
}

input.select-dropdown{
    font-weight: bold!important;
        color: #9e9e9e;
                text-align: center;
                font-size: 1.3rem!important;

}

.s8 label {
        top: -0.5em!important;
}

svg.caret {
        display: none;
}

.separador {
        width: 3px;
        height: 80%;
        background: #9e9e9e;
        margin: auto 0px;
}
/* Boton principal buscar */
button.col.s4 {
        background: #FF8000 0% 0% no-repeat padding-box;
        height: 60px;
        border: none;
        border-radius: 10px;
        position: relative;
        right: -16px!important;
        width: 375px!important;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 2em;
        margin: auto;
}
 
label.active {
        top: 0px!important;
}

.input-field.col label {
        left: -5px!important;
        text-align: center;
                font-size: 1.28rem;
}

.over-l {
        height: 200px;
        width: 100%;
        position: absolute;
       bottom: -101px;
        background: #fff;
        clip-path: ellipse(50% 15% at 50% 50%);
}

.menu-list{
            width: 200px;
        margin: auto auto auto 6rem;
        height: auto;
}

.menu-list ul.header-ul {
        display: flex;
        align-items: center;
        width: 300px;
}

.menu-list li {
        font-weight: bold;
        margin: auto;
}

.menu-list li a{
    color: black;
    font-weight: bold;
}


/* Menu logo header */

ul.header-ul-log li a:hover {
        color: #12297E;
}

ul.header-ul-log li a {
        color: #fff;
        font-weight: bold;
}
ul.header-ul-log li {
        margin: auto;
}

ul.header-ul-log {
        display: flex;
        align-items: center;
        height: 80px;
        width: 80%;
        margin-left: auto;
}


.btn-header-ul-log{
        background: #FF8000 0% 0% no-repeat padding-box;
        border-radius: 0.4rem;
        opacity: 1;
        height: 2.8rem;
        display: flex;
        align-items: center;
        padding: 0px 9px;
}


/* carrusel */

section#carrusel {
        height: 70vh;
        /* background: #0ff; */
        position: relative;
}

div#options-autoplay {
        position: relative;
        height: 100%;
}

.glide__track {
        height: 100%;
        position: relative;
}

section.contenido-slid {
        height: 70vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
}

.slid1 {
        width: 50%;
        position: relative;
        display: inline-block;
        height: 70vh;
}

.slid1 img {
        height: 300px;
        position: absolute;
        bottom: 0px;
}

.slid2 {
        height: 70vh;
        position: relative;
        width: 50%;
}

.slid2 .mont {
        background: url('../img/trazadoSlider.svg');
                background-size: 100% 100%;
        height: 120%;
        position: absolute;
        width: 100%;
        right: -23%;
        bottom: -39%;

}



.glide__bullets {
        background: #0000 linear-gradient(180deg, #dfdfdf 0%, #c1bdbd 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 5px;
        border-radius: 12px;
}

button.glide__bullet {
        border: 3px solid #2351F9;
        position: relative;
        opacity: 1;
        height: 15px;
        width: 15px;
        background: #0000;
        visibility: visible;
        z-index: 999;
}


.con-sli2-ss {
        position: absolute;
        height: 62%;
        width: 46%;
        right: 25%;
        text-align: center;
        top: 10%;
}

h3.title-slid2 {
              color: #fff;
        font-weight: bold;
        font-size: 2rem;
        text-align: left;
        margin-left: 3rem;
        font-family: "Montserrat";
}

p.parrafo-slid {
       font-size: 0.78rem;
        color: #fff;
        width: 90.658%;
        text-align: right;
        margin-left: auto;
        margin-right: 1rem;
        letter-spacing: 0.120rem;
        line-height: 1.6rem;
        font-weight: lighter;
                font-family: "Montserrat";
}

section.contenido-slid > div {
        position: relative;
        height: 100%;
}


.con-sli2-s2 {
        width: 80%;
        text-align: center;
}

.con-sli2-s2.l2{
    margin: 0px 0px 0px auto;
}

.con-sli2-s2.r2{
    margin: 0px auto 0px 0px;
}


h3.title-slid2-s2 {
        font-size: 2.6em;
        font-weight: bold;
}

li.glide__slide.glide__slide--active h3.title-slid2-s2{
    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
p.parrafo-slid-s2 {
        text-align: right;
        width: 98%;
}


p.parrafo-slid-s2.r2 {
        text-align: left;
        width: 98%;
}

h3.title-slid2-s2.r2 {
        text-align: left;
}


.imgslider{
            width: 100%;
        position: relative;
        top: 10px
}

.ovalo-banner {
        background: #2351F9;
        clip-path: circle(50% at 50% 50%);
        width: 500px;
        height: 500px;
        position: relative;
        top: 100px;
        margin: auto;
}


.bottonimg{
            display: flex;
        align-items: flex-end;
}
.contenedor-as {
        width: max-content;
        margin: auto;
        position: relative;
}

.imgacl3{
                position: absolute;
        height: 82%;
        bottom: 64px;
        left: -129px;
}



.ovalo-banner h3.title-slid2-s2.r2 {
        text-align: center;
        position: relative;
        padding-top: 1em;
        color: #fff;
        font-size: 2.5em;
}

.ovalo-banner p.parrafo-slid-s2.r2 {
        width: 250px;
        margin: auto;
        text-align: center;
        color: #fff;
}

.overflowh{
    overflow: hidden;
}

.glide__track,ul.glide__slides{
    overflow: hidden!important;

}




.glide__bullets {
        bottom: inherit;
        top: 0px;
        background: linear-gradient(-50deg, #e4e2e2,#cbc6c6);
        padding: 6px 4px;
                border-radius: 24px;
        width: 100px;
        text-align: center;
}

button.glide__bullet.glide__bullet--active {
        background: #CD7D2B;
}

button.glide__bullet {
        margin: auto;
}

#redes{
    height: 190px;
        background: #2351f9;
}

section#redes p.ten {
        font-weight: bold;
        color: #fff;
        font-size: 1.5em;
        width: 350px;
        margin: auto;
        margin-top: 1em;
        text-align: center;
}


strong.num-prop {
        text-align: center;
        display: inline-block;
        align-items: center;
        margin: auto;
        width: 100%;
        color: #FF8000;
        font-weight: bold;
        font-size: 1.5em;
}


.parrafo-sa{
    color: #12297E;
        font-weight: bold;
        font-size: 1em;
        width: 276px;
        margin:1em auto 11px;
        text-align: center;
}

.ico-redes i:before {
        font-size: 30px;
        cursor: pointer;
        margin: 0;
}


.ico-redes {
        width: 376px;
        text-align: center;
        margin: auto;
}

i.flaticon-youtube:before {
        font-size: 34px;
}
p.rels140:hover,.ico-redes i:hover{
    color: white;
}
p.rels140 {
        color: #12297E;
        font-size: 1.1em;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
}

i.flaticon-youtube{
    display: inline-block;
        margin-left: 75px;
}


/* Section new */
h3.col.s12.titulonew {
        font-weight: bold;
        font-size: 2em;
        padding-left: 1em;
                padding-bottom: 1em;
}

section.new-box.col.s12 {
        display: flex;
        align-items: center;
}


.box-s.col.s3 {
        padding: 0px 2em;
}
.box-l {
        height: 251px;
        background: #2351F9;
        overflow: hidden;
        width: 100%;
        padding: 0px 5%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #0000003b;
}

.box-img {
       width: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;
        top: 11px;
}

.box-img img {
        width: 100%;
        position: relative;
}
.contenido-box h3 {
        font-size: 1.3em;
        font-weight: bold;
        color: #fff;
}

.iz {
        float: left;
        width: 50%;
        display: inline-block;
        position: relative;
}

p.autor-nw {
        color: #fff;
        font-weight: bold;
        font-size: 0.7em;
}


p.date-nw {
        font-size: 0.6em;
        font-weight: bold;
        color: #fff;
        opacity: 0.3;
        position: relative;
        top: 4px;
}

.der strong {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;
        position: relative;
        top: -4px;
        left: 15px;
}


.boto-ms.col.s12 {
        display: inline-flex;
        align-items: center;
        height: 80px;
        text-align: right;
}

.btn-ver-mas {
        background: #2351F9;
        width: 150px;
        border-radius: 6px;
        height: 37px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 2%;
        cursor: pointer;
}


.btn-ver-mas p {
        margin: auto;
        font-weight: bold;
        color: #fff;
}


/* email */

section#email{
    height: 190px;
    position: relative;
    background: #FF8000;
}


.messg {
        background: #fff;
        /* clip-path: polygon(11% 15%, 95% 15%, 100% 77%, 14% 76%); */
        width: 80%;
        height: 135px;
        border-radius: 10px;
        transform: matrix(1, 0.05, -0.05, 1, 0, 0);
        background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 5px 6px 4px #00000029;
        border-radius: 8px;
        opacity: 1;
        margin: auto;
        margin-top: 29px;
}


.messg p {
        text-align: left;
        font: Bold 20px/30px Poppins;
        letter-spacing: -1px;
        color: #12297E;
        opacity: 1;
        font-size: 1em;
        width: 69%;
                position: relative;
        top: 20px;
        margin: auto;
}


.email-s2 {
        position: relative;
        height: 93px;
        width: 100%;
        display: inline-block;
}

.em-h-1 label {
        color: #707070;
        font-weight: bold;
        margin: auto;
        text-align: center!important;
        display: inherit;
        right: initial;
        font-size: 1.5em!important;
        top: -7px!important;
}

input#email {
        background: #fff;
        width: 400px;
        margin: auto;
        float: left;
}
input#email::-webkit-input-placeholder {
  color: red;
  text-align: center;
font: Bold 30px/40px  Poppins;
letter-spacing: 0;
color: #707070;
opacity: 0.6;
}
input#email:-moz-placeholder {
  color: red; 
  text-align: center;
font: Bold 30px/40px   Poppins;
letter-spacing: 0;
color: #707070;
opacity: 0.6;
}
input#email:-ms-input-placeholder { 
  color: red; 
  text-align: center;
font: Bold 30px/40px  Poppins;
letter-spacing: 0;
color: #707070;
opacity: 0.6;
}

.botn-sus {
        background: #0000 linear-gradient(0deg, #2351F9 0%, #12297D 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 150px;
        height: 45px;
        display: flex;
        align-items: center;
        border-radius: 9px;
        position: relative;
        right: 40px;
}

.botn-sus p {
        font-weight: bold;
        color: #fff;
        margin: auto;
        font-size: 1.5em;
}

.em-h-1 {
        padding: 42px 0px 0px;
        display: inline-block;
        align-items: center;
}

.em-h-2 h4 {
        font-size: 1.8em;
        font-weight: bold;
        color: #12297E;
        margin: 22.8px auto 0px;
}


.em-h-2 p {
        font-weight: bold;
        color: #12297E;
        position: relative;
        left: 1.5%;
        width: max-content;
}

section#logoMail {
        height: 300px;
        background-image: url('../img/Grupo20.png');
        background-size: cover;
        background-position: 27px -215px;
        background-repeat: no-repeat;
}

footer#footer {
        height: 250px;
        background: #363637;
        margin: 0px;
        position: relative;
}


.col.s4.logsd img {
        width: 250px;
        margin-left: 50px;
        height: 97px;
}

.col.s4.logsd {
        height: 100%;
        margin: 0px;
        overflow: hidden;
}

p.parrafodl {
        width: 63%;
        font-size: 0.59em;
        font-weight: bold;
        color: #fff;
                margin-left: 60px;
        line-height: 1.1rem;
        position: relative;
        top: -4px;
}

.row.tl9610 li {
        list-style: none;
        padding: 6px 0px;
}

.row.tl9610  a {
        color: #000;
        font-weight: bold;
        font-size: 0.8em;
}

h5.tl96 {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 30px;
}


h2.ttl910 {
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        margin: 0px;
        text-align: center;
}

.ico-redes910 {
        margin: auto;
        width: max-content;
}

.ico-redes910 i {
        color: #707070;
}

.ico-redes910 i:before {
        margin: 0px;
        font-size: 30px;
        cursor: pointer;
}

.ico-redes910 i:hover{
    color: white;
}

.ico-redes910 i.flaticon-youtube {
        margin: 0px 0px 0px 10px;
}

.ico-redes910 i.flaticon-youtube:before {
        font-size: 36px;
}

p.instls10 {
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
        margin-top: 91px;
}


.k584{
            height: 250px;
        overflow: hidden;
}

.opac{
    opacity: 0;
}

/* modal login */

section#modal-login {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
}
.cap-close {
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 1;
}
.container-login.col.s12.m8.l8 {
        height: 450px;
        background: #fff;
        margin: 110px auto auto auto;
        border-radius: 20px;
        z-index: 3;
}

.row.fl5636 {
        height: 100%;
        display: block;
        position: relative;
}

.col.s7.der96 {
    height: 100%;
        padding-right: 0px;
        background-image: url("../img/loginb96.svg");
        background-size: 100% 100%;
        background-position: 46px;
        background-repeat: no-repeat;
}


.back-cont {
        height: 100%;
        width: 100%;
        /* background-image: url(../img/loginb96.svg); */
        background-image: url("../img/logainas.svg");
        background-size: 100% 90%;
        background-position: 15px -10px;
        background-repeat: no-repeat;
        padding-top: 30px;

}


.conte-8751 {
        display: block;
        width: 360px;
        margin: 0px 30px 0px auto;
}

.conte-8751 h5 {
              font-weight: bold;
        color: #fff;
        font-size: 1em;
        margin: 27px auto;
        text-align: center;
}
.conte-8751 p {
        font-size: 0.6em;
        color: #fff;
        width: 80%;
        margin: 0px 0px auto auto;
}


.iz19 h3 {
        font-size: 1.8em;
        font-weight: bold;
        margin: 50px 0px 0px 30px;
        line-height: 1.4em;
}

.col.s5.iz19 {
        position: relative;
        height: 100%;
}

.panel-login {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 100%;
}


.panel-login input {
        border: 1px solid #9E9E9E!important;
        opacity: 1;
        border-radius: 50px!important;
        height: 2.5em!important;
        padding: 0px 0px 0px 23px!important;
}

.btn-login {
        background: #FF8000 0% 0% no-repeat padding-box;
        border-radius: 9px;
        opacity: 1;
        padding: 10px 34px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
}

.botonera {
        display: flex;
        align-items: center;
        height: 60px;
}


.botonera > p {
        position: relative;
        margin-left: 30px;
        font-weight: bold;
        font-size: 1.2em;
}

.modal-oc{
    color: #12297E!important
}